*{
margin:0;
padding:0;
}
.header{
display:flex;
background-color:pink;
width:100%;
height:100px;
padding:15px;

justifify-content:center;
align-items:center;
}
#sditslogo{
height:80px;
width:80px;
border-radious:50%;}
.title{ 
margin-left:20px;
color:black;
font-family:arial,sans-sarif;
}
.navigation{
color:white;
height:40px;
display:flex;

justify-content:space-between;
align-item:center;
margin:10px;
margin-left:1px;
margin-right:1px;
padding-left:20px;
padding-right:20px;
}
.navigation div{
border:2px solid white;
padding:1px;
border-radious:10px;
margin-left:20px;
}
#full{
display:flex;
height:350px;
weight:80vh;
}